<div class="lessonTab" ng-controller="LessonTab">
	<h3>课程详细列表</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">编号</th>
				<th class="text-center">科目</th>
				<th class="text-center">老师</th>
				<th class="text-center">人数</th>
				<th class="text-center">时间</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="lesson in lessons track by $index" ng-click="handleShow()">
				<td>{{lesson.num}}</td>
				<td>{{lesson.lesson}}</td>
				<td>{{lesson.teacher}}</td>
				<td>{{lesson.people}}</td>
				<td>{{lesson.time}}</td>
			</tr>
		</tbody>
	</table>
	<div class="handle" ng-show="handleIsShow" style="{{handlePos}}">
		<p class="lessonName">{{lessonName}}</p>
		<p class="lessonTeacher">{{lessonTeacher}}</p>
		<button class="addTab btn btn-default" ng-click="addLesson()">加入课表</button>
		<button class="remove btn btn-default" ng-click="closeHandle()">取消</button>
	</div>
</div>